
accelerate
asyncio
Brotli
configobj
configparser
crewai-tools
discord
Flask-Cors
flitz
fqdn
google-cloud-aiplatform
google-cloud-vision
google-genai
google-generativeai
grpcio-status
gunicorn
h2
httptools
image
imageio
imageio-ffmpeg
isoduration
langchain-google-genai
Markdown
markdown2
mpld3
mysql-connector-python
nipype
opencv-python
pdfkit
pip
pipreqs
playwright
plotly
plyer
pygame
PyGithub
pylance
PyMuPDF
PySocks
pytesseract
pyxnat
schedule
scikit-learn
selenium
sentencepiece
streamlit
torchvision
transformers
uri-template
vpython
watchfiles
weasyprint
webcolors
webdriver-manager
xhtml2pdf
zopfli
